<header>
    <nav>
        <div class="logo">
            <a href="{% url "principal:home" %}">SoldadoZuero</a>
        </div>
        <ul class="nav-links" id="navLinks">
            <li><a href="#projetos">Projetos</a></li>
            <li><a href="#trabalhos">Trabalhos</a></li>
            <li><a href="#parceiros">Parceiros</a></li>
            <li><a href="#contato">Contato</a></li>
        </ul>
        <button class="mobile-menu-btn" id="mobileMenuBtn" aria-label="Menu"> 
            <span></span> 
            <span></span> 
            <span></span> 
        </button>
    </nav>
</header>