<section id="parceiros">
    <div class="section-header">
        <h2 id="partnersTitle">Parceiros</h2>
        <p>Marcas e empresas que confiam no meu trabalho</p>
    </div>
    <div class="partners-grid">
        <a href="{% url 'principal:baby-yoda-store' %}">
            <div class="partner-item">
                <span class="partner-logo">
                    <img class="partner-logo" src="https://userfiles.sdwc.me/70568c634ecfc0c2fc766.webp" alt="Baby Yoda Store Logo" />
                    Baby Yoda Store
                </span>
            </div>
        </a>
    </div>
</section>